<%- include('ek/header', {bot, user, path}) %>
<br/>
<br/>
<div class="container">
	<div class="jumbotron">
		<div align="center">
	<a class="yuvarlak" style="color:white" href="/"><i class="fa fa-times" aria-hidden="true"></i><i aria-hidden="true"></i></a>
      <h3 style="color:#81ec5d">Raporunuz Başarıyla Alındı ✔️</h3>
    </div>
</div>
</div></div></div>
<br/>

<style>
.yuvarlak
{
float: right;
      margin-width: 200;
      margin-height: 200px;
      margin: 0px;
border:5px solid Red;
background-color:Red;
width:30px;
height:30px;
 border-radius: 1000px;
-moz-border-radius: 1000px;
-webkit-border-radius: 1000px;
}
</style>
<% include ./ek/footer %>
