<% include ./ek/header %>

<table id="personel">
<tr>
<th>İsim</th>
<th>Kullanıcı Adı</th>
<th>Görevi</th>
<th>Yetkisi</th>
</tr>
<tr>
<td>Yusuf</td>
<td>zMorcy</td>
<td>Yönetim Ekibi</td>
<td>Sunucu Sahibi</td>
</tr>
<tr>
<td>Emir</td>
<td>da'Vinci</td>
<td>Yönetim Ekibi</td>
<td>Sunucu Sahibi</td>
</tr>
<tr>
<td>Melisa </td>
<td>Mia</td>
<td>Yönetim Ekibi</td>
<td>Yönetici</td>
</tr>
<tr>
<td>-</td>
<td>Journey</td>
<td>Düzen & Teknik Sorumlu</td>
<td>Co Admin</td>
</tr>
<tr>
<td>-</td>
<td>Elvesy<<#6893</td>
<td>Düzen & Teknik Sorumlu</td>
<td>Co Admin</td>
</tr>
<tr>
<td>Buse</td>
<td>Buse</td>
<td>Destek Ekibi</td>
<td>Üst Yetkili</td>
</tr>
<tr>
<td>Furkan</td>
<td>Furkan LoL</td>
<td>Destek Ekibi & Teknik Sorumlu</td>
<td>Üst Yetkili</td>
</tr>
<tr>
<td>Hasan </td>
<td>HasanTR</td>
<td>Genel</td>
<td>Moderator</td>
</tr>
<tr>
<td>Mert</td>
<td>Mert</td>
<td>Destek Ekibi</td>
<td>Destek Ekibi</td>
</tr>
<tr>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
<tr>
<td>-</td>
<td>-</td>
<td>-</td>
<td>-</td>
</tr>
</table>
 
</div>
</div>
</div>
</div></div><div></div>
<!DOCTYPE html>
<html>
<head>
<style>
#personel {
border-collapse: collapse;
width: 100%;
background-color: white;


}
 
#personel td, #personel th {
padding: 8px;

}
 
#personel tr:nth-child(even){background-color: #f2f2f2;}


 
#personel tr:hover {
background-color: #2ecc71;
color:#fff;
}
 
#personel th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #D49818;
color: white;
}

</style>
</head>
<body>

</head> 
<script language="javascript">
    document.onmousedown=disableclick;
    status="Right Click Disabled";
    Function disableclick(event)
    {
      if(event.button==2)
       {
         alert(status);
         return false;    
       }
    }
</script>

<body oncontextmenu="return false">

</body>


</body>
</html>

<% include ./ek/footer %>

