<br>
<div class="footer" style="color:#1e1e1e; border-radius:4px"> 
	<div class="footer_container" style="color:#1e1e1e">
		<div id="kutu">
			<b>Genel Sayfalar</b> 
			<ul>
        <li><a href="/" style="color:#fff"><i aria-hidden="true"></i> Ana Sayfa</a></li>
        <li><a href="/hakkimizda" style="color:#fff"><i aria-hidden="true"></i> Hakkımızda</a></li>
        <li><a href="/ekibimiz" style="color:#fff"><i aria-hidden="true"></i> Yönetim Kadrosu</a></li>
        

			</ul>
		</div>
    
		<div id="kutu" style="margin-left:150px;">
			<b>İletişim</b>
			<ul>
				                <li><a href="https://discord.gg/gKmF7s2" style="color:#fff"><i class="fa fa-link" aria-hidden="true"></i> Disord Sunucumuz</a></li>
			</ul>
    </div>
    <br><br><br><br><br><br><br><br><br><br>
    <h6 style="color:#f77130">
<center> <strong>devTR & Darkmo</strong> ekibi tarafından geliştirilmiştir. </center>
    </h6>
	</div>
</div>